<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="eel.js"></script>
  <title>RFT Online</title>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="style.css" rel="stylesheet">
</head>
<body>

  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Registro de Falha em TCU</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <button class="btn btn-outline-primary" onclick="eel.abrir_tutorial()">
          Abrir Tutorial
        </button>
    </div>
    </div>
  </nav>

  <div class="container mt-5">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="nav-tab-nova-rft" data-bs-toggle="tab" 
                data-bs-target="#content-nova-rft" type="button" role="tab">Nova RFT</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="nav-tab-manutencao" data-bs-toggle="tab" 
                data-bs-target="#content-manutencao-rft" type="button" role="tab">Manutenção</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="nav-tab-relatorio" data-bs-toggle="tab"
                data-bs-target="#content-relatorio" type="button" role="tab">Relatório</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="nav-tab-listar-rfts" data-bs-toggle="tab"
                data-bs-target="#content-listar-rfts" type="button" role="tab">Listar RFTs</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="nav-tab-detalhes-versao" data-bs-toggle="tab"
                data-bs-target="#content-detalhes-versao" type="button" role="tab">Detalhes da Versão</button>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane fade show active" id="content-nova-rft" role="tabpanel" aria-labelledby="nav-tab-nova-rft">
        <h4 class="mt-4">RFT:</h4>
        <div id="nova-rft-body"></div>
        <div id="nova-rft-erros"></div>
        <div id="nova-rft-footer" class="d-flex justify-content-end gap-2"></div>
      </div>

      <div class="tab-pane fade" id="content-manutencao-rft" role="tabpanel" aria-labelledby="nav-tab-manutencao">
        <div id="manutencao-rft-header" class="d-flex gap-2"></div>
        <div id="manutencao-rft-ia-switch"></div>
        <div id="manutencao-rft-body"></div>
        <div id="manutencao-rft-erros"></div>
        <div id="manutencao-rft-manutencao"></div>
        <div id="manutencao-rft-ia-solutions"></div>
        <div id="manutencao-rft-footer" class="d-flex justify-content-end gap-2"></div>
      </div>

      <div class="tab-pane fade" id="content-relatorio" role="tabpanel" aria-labelledby="nav-tab-relatorio">
        <div id="relatorio-header"></div>
        <div id="relatorio-body"></div>
      </div>

      <div class="tab-pane fade" id="content-listar-rfts" role="tabpanel" aria-labelledby="nav-tab-listar-rfts">
        <div id="listar-rfts-header" class=""></div>
        <div id="listar-rfts-body" class=""></div>
        <div class="d-flex justify-content-start mt-3">
          <span >Em desenvolvimento.</span>
        </div>
      </div>

      <div class="tab-pane fade" id="content-detalhes-versao" role="tabpanel" aria-labelledby="nav-tab-detalhes-versao">
        <div id="versao-header" class="mt-3 mx-2"></div>
        <div id="versao-body" class="mx-2"></div>
        <div id="versao-footer" class="mx-2"></div>
      </div>
    </div>
  </div>

  <script type='module' src='main.js'></script>
  <!-- Bootstrap JS Bundle (with Popper) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
